.p {
	margin: 0;

	color: var(--black);

	font-weight: 400;

	font-style: normal;
}

.p_small {
	font-size: 14px;
	line-height: 22px;
}

.p_medium {
	font-size: 16px;
	line-height: 24px;
}

.p_large {
	font-size: 18px;
	line-height: 29px;
}
